<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="{{STATIC_URL}}estilo.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    {% extends index.html %}
    <body>
        <div>
            <div>
            {{cliente.id}}
            </div>
            <div>
                <h2>Lista de pedidos do cliente<span>{{cliente.nome}}</span></h2>
                <h3>Atualizada em {{carrinho.data}}</h3>
                <div>
                    {{produto}}
                    {% if pedido %}
                        <p>Pedido recém-inserido</p>
                        <a href={% %} class="list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">    
                            <a>{{pedido.nome}}
                            - {{pedido.id}}
                            {{pedido.data}}</a>
                                <small>{% url produto %}</small>
                                <h2 class="mb-1">{{pedido.status}}</h2>
                            </div>
                    {% end if%}
                    <div>
                        <ul class="list-group">
                            {% for itens in pedidos %} 
                            <div class="list-group-item list-group-item-info">
                             <a href="#" class="list-group-item list-group-item-action">
                                <div>
                                    {{pedido.nome}}
                                    - {{pedido.id}}
                                    {{pedido.data}}
                                </div>
                             </a>
                            </div>
                            {% end for %}
                            <h3><a href = {% url %}></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
