<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
	<div class="table-responsive-sm tab">
    	<table id="table table-sm purchase">
    	<caption>Lista de Compras e Pedidos</caption>
        <thead id="row" class="thead-dark" id="heading">
        	<tr class="table-primary">
        		<th class="col-4">Código pedido</th>
        		<th class="col-4">Data de aquisição</th>
        		<th class="col-4">Nome</th>
        		<th class="col-4">Preço</th>
        		<th class="col-4">Status</th>
        	</tr>
        </thead>
        <tbody>
        	<tr class="content">
        		<th class="row"></th>
        		<td class="col"><input type="datetime" class="collapse-border dt" id="date" readonly></td>
        		<td class="col"><input type="text" class="" id="req" size="50" name="itemname" readonly></td>
        		<td class="col"><span>R$</span><input type="number" class="" id="pr" maxlength="6" value="0.00"  name="price" readonly></td>
        		<td class="col"><h4><b>True</b></h4></td>
        	</tr>
        	<tr class="content">
        		<th class="row">2</th>
        		<td class="col-2-sm">2</td>
        		<td class="col-6-sm">3</td>
        		<td class="col-3-sm"><span>R$</span>4</td>
        		<td class="col-1-sm"><h4><b>True</b></h4></td>
        	</tr>
        	<tr class="container" id="total">
        		<th class="row"><h4>Trololo</h4><button type="submit"><h5>Pague</h5></button>
        		</th>
        	</tr>
    	</tbody>
    </table>
	</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
